.container {
	text-align: center;
	padding: 10px;
}

.line-title {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.line-title::before,
.line-title::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #333;
}

.line-title::before {
  margin-right: 16px;
}

.line-title::after {
  margin-left: 16px;
}

.idle {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: whitesmoke;
	border-radius: 20px;
	border: 2px solid #333;
}

.idle h2 {
	margin-top: 10px;
}

.idle hr {
	width: 20cm;
}

.idle img {
	width: 700px;
	margin-bottom: 10px;
	border-radius: 20px;
}

.idle button {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #3b82f6;
	color: white;
	font-size: 20px;
	border: none;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	margin-bottom: 10px;
}

.matched {
	padding: 20px;
	background-color: #dbeafe;
	border-radius: 10px;
}